<launch>
    <rosparam command="load" file="$(find radar2023)/Config/default.yaml" /> 
    <param name="pcd_path" type="string" value="$(find radar2023)/resources/pcds.txt"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d ${find point_cloud_pkg}/rviz/point_cloud.rviz"></node>
    <node pkg="radar2023" type="offline_point_cloud_publisher" name="point_cloud_node" output="screen"></node>
    <node pkg="radar2023" type="gui_node" name="gui_node" output="screen"></node>
    <node name="radar2023" pkg="radar2023" type="radar2023" output="screen" respawn="false"/>

</launch>